<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Barbershop App</title>
</head>
<body>
    <header>
        <h1>Barbershop App</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/registrar_servicio">Registrar Servicio</a></li>
            <li><a href="/ver_servicios">Ver Servicios</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">

            
        </div>
    </main>

    <footer>
        &copy; 2023 Barbershop App
    </footer>
</body>
</html>
